/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100vw;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

/* Table */
table {
    border-collapse: collapse;
    border: 2px solid #796e6e;
    margin: 7vh;
}

tr {
    height: 35vh;
}

td {
    text-align: left;
    height: inherit;
}

.column {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-left: 2px solid #796e6e;
    border-right: 2px solid #796e6e;
    box-sizing: border-box;
    padding: 1rem;
    height: inherit;
}

button {
    cursor: pointer;
    padding: 5px 10px;
}